/* styles.css */
body	{
    background-color : #ffceed;
}

.bottom-right {
    position: absolute;
    bottom: 0 px;
    right: 0 px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heartfade {
    0% {
        opacity : 1;
    }
    50% {
        opacity : 0;
    }
}
.heart {
    z-index : 999;
    animation : heartfade 6s linear;
    position : absolute; 
}
.heart:before,
.heart:after {
    content : "";
    background-color : hsl(344, 69%, 47%);
    position : absolute;
    height : 30px;
    width : 45px;
    border-radius : 15px 0px 0px 15px;
}

.heart:before {
    transform : rotate(45deg);
}

.heart:after {
    left : 10.5px;
    transform : rotate(135deg);
}